body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-block-start: 0em !important; 
  margin-block-end: 0em !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- grid-week -----*/

.grid-week {
	display: flex;
	flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  width: 770px;
  height: 660px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
}

.grid-element-week {
  height: 110px;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: rgba(239, 108, 87, 0.5);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-element-week:last-child {
  border: none;
}

.grid-element-week:hover {
  background-color: rgba(239, 108, 87, 0.7);
  cursor: pointer;
}

/* ----- grid -----*/
.grid {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
  overflow: hidden;

  width: 770px;
  height: 660px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  -webkit-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
}

/* ----- grid-element -----*/

.grid-element:hover {
  background-color: rgba(239, 108, 87, 0.7);
  cursor: pointer;
}

.grid-element-null {
  height: 110px;
  width: 110px;
}

.grid-element {
  height: 110px;
  width: 110px;
  background-color: rgba(239, 108, 87, 0.5);

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* ----- month-selector -----*/
.month-selector {
  width: 350px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.month-selector-top-row button {
  border: none;
  cursor: pointer;

  width: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.month-selector-bottom-row {
  font-size: 20px;
}

.month-selector-top-row {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
}

/* ----- calendar -----*/
.calendar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px;
  height: 700px;
}


/* ----- right-panel -----*/
.right-panel {
  width: calc(100% - 400px);
  height: calc(100% - 50px);
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  left: 400px
}

/* ----- selected-day-text -----*/
.selected-day {
  width: 350px;
  height: 500px;
  background-color: #7ED3B2;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;

  -webkit-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
}

.selected-day-text {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

/* ----- view-buttons -----*/
.view-buttons {
  width: 350px;
  height: 140px;
  background-color: #7ED3B2;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;

  -webkit-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);
  box-shadow: 0px 20px 50px -30px rgba(66, 68, 90, 1);

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

.view-buttons button {
  border: none;
  cursor: pointer;

  width: 50px;
  background-color: rgba(0, 0, 0, 0);
}

/* ----- header -----*/
.header {
  width: 400px;
  height: 150px;
  background-color: #259B6D;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

/* ----- left-panel -----*/
.left-panel {
  width: 400px;
  height: calc(100% - 50px);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  background-color: #B9E6D3;
}

/* ----- footer -----*/
.footer {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #C4C4C4;
}

.footer-text p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}